.left-sidebar-container{
    background-color: #E1EBEE;
    padding-left: 30px;
    padding-right: 30px;
    width: 400px;
    min-height: 890px;
}
.heading-left-container{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.heading-left{
    flex:1; 
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}
.heading-left:hover{
    transform: scale(1.01,1.01);
}
.down-arrow{
    cursor: pointer;
    width: 10px;
}
.add-item{
    width: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.reduce{
    width: 15px;
    cursor: pointer;
}
.numofevents{
    font-size: 15px;
    color: grey;
    margin-left: 10px;
}
.side-icons{
    width: 20px;
    margin-right: 10px;
}